@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Edit Events</h1>

<form method="post" action="/events/edit">
    <input type="hidden" value="@ViewBag.eventToBeEdited.Id" name="eventId" />
    <label for="name">Enter the name of an event.</label>
    <input name="name" type="text" value="@ViewBag.eventToBeEdited.Name" /><br />

    <label for="description">Enter a description of the event.</label>
    <input name="description" type="text" value="@ViewBag.eventToBeEdited.Description" /><br />

    <label for="contactEmail">Enter a contact email. </label>
    <input name="contactEmail" type="email" value="@ViewBag.eventToBeEdited.ContactEmail" /><br />

    <label for="location">Enter a location for the event.</label>
    <input name="location" type="text" value="@ViewBag.eventToBeEdited.Location" /><br />

    <label for="attendees">Enter the number of attendees for the event.</label>
    <input name="attendees" type="text" value="@ViewBag.eventToBeEdited.Attendees" />



    <input type="submit" value="Save Event" />


</form>